#screen {
  height: 100vh;
}

#map {
  height: 80%;
}

.municipality-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  font-weight: normal;
  font-size: 200%;
}


